<h1>Editar informações do serviço</h1>
<form action="/works/edit" method="POST">
    <input type="hidden" name="id" value="{{work._id}}">
    <div class="form-control">
        <!--Title-->
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Insira um título para o serviço..." value="{{work.title}}" required>  
        <!--Description-->
        <label for="description">Descrição</label>
        <textarea name="description" id="description" placeholder="Descrição do Serviço..." required>{{work.description}}</textarea>
        <!--Image-->
        <label for="image">Imagem</label>
        <input type="text" name="image" placeholder="Insira a url da imagem..." value="{{work.image}}" required>
        <!--Price-->
        <label for="price">Preço</label>
        <input type="text" name="price" placeholder="Insira um preço..." value="{{work.price}}" required>
        <!--Timestamp-->
        <label for="timestamp">Prazo</label>
        <input type="date" name="timestamp" value="{{work.timestamp}}", required>

        <input type="submit" value="Salvar alterações">
    </div>
   
   <script>
    const priceInput = document.querySelector('input[name="price"]')

    priceInput.addEventListener('input', (event) => {
        // Remove tudo que não for número
        let value = priceInput.value.replace(/[^0-9.,]/g, '');

        // Formata o valor com "R$" no inicio
        priceInput.value = value ? 'R$ ' + value : ''; 
    })
   </script>
</form>